body{
    background-color: olive;
}

table{
    /*margin-left: 25%;*/
    border-collapse: collapse;
    border-spacing: 0;
    border: 5px solid antiquewhite;
    width: 800px;
    height: 800px;
}

th{
    background-color: lightsalmon;
    margin: 0;
    padding: 0;
}


.king_w{
    background-image: url("assets/king.bmp");
    background-repeat: no-repeat;
    background-position: center;
}

.queen_w{
    background-image: url("assets/queen.bmp");
    background-repeat: no-repeat;
    background-position: center;
}

.bishop_w{
    background-image: url("assets/bishop.bmp");
    background-repeat: no-repeat;
    background-position: center;
}

.knight_w{
    background-image: url("assets/knight.bmp");
    background-repeat: no-repeat;
    background-position: center;
}

.rook_w{
    background-image: url("assets/rook.bmp");
    background-repeat: no-repeat;
    background-position: center;
}

.pawn_w{
    background-image: url("assets/pawn.bmp");
    background-repeat: no-repeat;
    background-position: center;
}

.king_b{
    background-image: url("assets/king_b.bmp");
    background-repeat: no-repeat;
    background-position: center;
}

.queen_b{
    background-image: url("assets/queen_b.bmp");
    background-repeat: no-repeat;
    background-position: center;
}

.bishop_b{
    background-image: url("assets/bishop_b.bmp");
    background-repeat: no-repeat;
    background-position: center;
}

.knight_b{
    background-image: url("assets/knight_b.bmp");
    background-repeat: no-repeat;
    background-position: center;
}

.rook_b{
    background-image: url("assets/rook_b.bmp");
    background-repeat: no-repeat;
    background-position: center;
}

.pawn_b{
    background-image: url("assets/pawn_b.bmp");
    background-repeat: no-repeat;
    background-position: center;
}

.possible_moves{
    background-image: url("assets/possible_move.bmp");
    background-repeat: no-repeat;
    background-position: center;
}

#history{
    background-color: white;
    position: absolute;
    width: 15%;
    height: 100%;
}

#board{
    position: absolute;
    margin-left: 20%;
    width: 70%;
    height: 100%;
}